<div class="sticky-footer wrapper">
<div class="container">
  <p>
    {{sanitize output}}
  </p>

  <div class={{if editing '' 'hidden'}}>
    <p>
        {{tracery-json-editor json=model onChange=(action 'setJSON') mode='code' modes=null
          onError=(action 'jsonError') onBadChange=(action 'jsonError')}}
    </p>

    <p><small>Some HTML tags and styles are allowed. Because #hex colors mess with Tracery syntax, use rgb() colors.</small></p>

    <p class="actions">
      <button {{action 'saveToURL'}} disabled={{errored}}>Save to URL <i class="fa fa-save"></i></button>
      <button {{action 'discardChanges'}} disabled={{resetDisabled}}>Discard Changes <i class="fa fa-trash"></i></button>
    </p>
  </div>
</div>
<footer>
  <p class="actions">
    <button {{action 'shuffle'}}>Shuffle <i class="fa fa-random"></i></button>
    <button {{action 'edit'}}>{{if editing 'Close Editor' 'Edit'}} <i class="fa fa-edit"></i></button>
    <button disabled={{shareUrl}} {{action 'share'}}>
      Share This Grammar <i class="fa fa-share-alt"></i>
    </button>
    <button disabled={{shortDisabled}} {{action 'makeShortURLAction'}}>
      Make Short URL <i class="fa fa-link"></i>
    </button>
  </p>
  {{#if shareUrl}}
    <p class="actions">
      {{share-panel buttons="fb,vk,twitter,linkedin,gplus" labels="Share,Share,Tweet,Share,Share" url=shareUrl
        title='Check out this Tracery grammar on Tracery Live'
        hashtags='tracery'}}
    </p>
  {{/if}}
  {{#if shortUrl}}
    <p class="actions">
      {{input id="shortUrl" value=shortUrl}}
      {{#if (is-clipboard-supported)}}
        {{#copy-button class="btn-outline" clipboardTarget="#shortUrl"}}
          Copy <i class="fa fa-copy"></i>
        {{/copy-button}}
      {{/if}}
    </p>
  {{/if}}
  
  <p class="footer-text">
    <a href="http://tracery.io">Tracery</a> was created by <a href="http://www.galaxykate.com/">GalaxyKate</a>. Compressed URL inspired by <a href="https://itty.bitty.site/">itty.bitty.site</a> by <a href="https://github.com/alcor">Nicholas Jitkoff</a>.
  </p>
  <p class="footer-text">
    Tracery Live was created by <a href="http://ludusnovus.net/">Gregory Avery-Weir</a>. <a href="https://github.com/GregoryAveryWeir/tracery-live">Check out the source on GitHub.</a>
  </p>
</footer>
</div>